In [2]:
import pandas as pd

In [9]:
name="../Datasets/USDCHFm_M5_2021_2022_mt5.csv"
name2="../Datasets/USDCHFm_M5_2021_2022.csv"
columns=['date', 't', 'open', 'high', 'low', 'close', 'vol1', 'vol2', 'vol3']
df=pd.read_csv(name, sep='\t', names=columns, header=0, parse_dates={'time':['date','t']})
columns=['time', 'open', 'high', 'low', 'close']
df=df.loc[:, columns]
df.head()

                 time     open     high      low    close
0 2021-10-27 17:20:00  0.91702  0.91724  0.91699  0.91716
1 2021-10-27 17:25:00  0.91717  0.91719  0.91709  0.91711
2 2021-10-27 17:30:00  0.91714  0.91728  0.91709  0.91723
3 2021-10-27 17:35:00  0.91722  0.91739  0.91720  0.91733
4 2021-10-27 17:40:00  0.91734  0.91736  0.91728  0.91728

In [10]:
df.to_csv(name2)
df=pd.read_csv(name2)
df=df.loc[:,columns]
df.head()
# df.to_csv("../Datasets/EURUSDm_M5_2021-2022.csv")

                  time     open     high      low    close
0  2021-10-27 17:20:00  0.91702  0.91724  0.91699  0.91716
1  2021-10-27 17:25:00  0.91717  0.91719  0.91709  0.91711
2  2021-10-27 17:30:00  0.91714  0.91728  0.91709  0.91723
3  2021-10-27 17:35:00  0.91722  0.91739  0.91720  0.91733
4  2021-10-27 17:40:00  0.91734  0.91736  0.91728  0.91728