In [1]:
import pandas as pd

In [32]:
columns=['date', 't', 'open', 'high', 'low', 'close', 'vol1', 'vol2', 'vol3']
df=pd.read_csv("../Datasets/EURUSDm_M5_20211_2022_mt5.csv", sep='\t', names=columns, header=0, parse_dates={'time':['date','t']})
columns=['time', 'open', 'high', 'low', 'close']
df=df.loc[:, columns]
df.head()

                 time     open     high      low    close
0 2021-10-27 17:20:00  1.16133  1.16135  1.16099  1.16107
1 2021-10-27 17:25:00  1.16109  1.16110  1.16099  1.16101
2 2021-10-27 17:30:00  1.16101  1.16103  1.16088  1.16094
3 2021-10-27 17:35:00  1.16093  1.16093  1.16075  1.16088
4 2021-10-27 17:40:00  1.16088  1.16097  1.16088  1.16097

In [33]:
df.to_csv("../Datasets/EURUSDm_M5_2021_2022.csv")
df=pd.read_csv("../Datasets/EURUSDm_M5_2021_2022.csv")
df=df.loc[:,columns]
df.head()
# df.to_csv("../Datasets/EURUSDm_M5_2021-2022.csv")

                  time     open     high      low    close
0  2021-10-27 17:20:00  1.16133  1.16135  1.16099  1.16107
1  2021-10-27 17:25:00  1.16109  1.16110  1.16099  1.16101
2  2021-10-27 17:30:00  1.16101  1.16103  1.16088  1.16094
3  2021-10-27 17:35:00  1.16093  1.16093  1.16075  1.16088
4  2021-10-27 17:40:00  1.16088  1.16097  1.16088  1.16097